@keyframes logoMove{
    from{width: 25px; 
         opacity: 0;}
    to{width: 475px;
       opacity: 1;}
  }

  #logo{
    animation: logoMove 5s ease-in-out;
  }

  body{
    font-family: 'Poppins', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
  }


  header{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  .nav_links{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  a:visited{
    color: blue;
  }

  .card > header{
    background: #288088;
    border-style: solid;
    border-color: #45ADAD;
    border-width: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    display: flex;
    flex-direction: column;
    flex-basis: 450px;;
  }

  .pricing{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .gallery > img{
    border-style: solid;
    border-width: 10px;
    border-color: #50C7C7;
    width: 300px;
    margin: 10px;
  }

  .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }


  /*SPEC 900 PX*/
  @media screen and (min-width: 900px){
    header{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
    }

    body > header{
        justify-content: space-between;
    }



    body > header{
        top: 0;
        position: sticky;
    }

    .card{
        flex-basis: 275px;
    }
  }


  @media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}
  @media print{
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }
    
    header nav{
        width: 100%;
    }
    
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card{
        display: flex;
        flex-basis: 325px;
        border-style: solid;
        border-width: 2px;
        border-color: #45ADDD;
    }

    #gallery{
        display: none;
    }
    .gallery{
        display: none;
    }

  }
 